/*内页*/
.address{height: 36px; line-height: 36px; background-color: #f9f9f9; border-bottom: 1px solid #efefef; color: #ccc; padding-right: 20px;}
.address span {margin-left: 20px;}
.pad20{padding: 20px;}
.page{background-color: #f9f9f9; border-top: 1px solid #efefef; padding: 10px;}

.main{padding: 20px;}
.main_l{width: 280px;}
.main_l_a{ border: 1px solid #efefef; margin-bottom: 20px;}
.main_l_a h2{border-top: 3px solid #269bd7; border-bottom: 1px solid #efefef; padding: 10px; text-align: center; font-size: 18px; font-family:"微软雅黑","黑体";}
.main_l_a ul{background-color: #efefef; margin-top: 0; }
.main_l_a ul li a {display: block; height: 40px; line-height: 40px; text-align: center; font-size: 15px; background-color: #f9f9f9; margin-bottom: 1px; position: relative;}

.main_r{width:850px;}
.rightcon{margin-bottom: 20px; border: 1px solid #efefef;}
.text_list{list-style: none; padding: 10px;}
.text_list span{float: right;}
.text_list li{ display:block; padding-left:13px; border-bottom:1px dotted #f0f0f0;line-height:35px; height:35px;background:url(../img/ico.png) 0 -68px no-repeat;}
.text_list li:hover{ background:#f8f8f8;}
.text_list li:hover span{ background:#eee;}
.text_list li a{ display:block; float:left;}
.text_list li span{color:#999; float:right; padding:0 10px;}

.pic_list{ margin:20px 0; padding-top:20px;}
.pic_list li{ display:block; height:135px; margin-bottom:20px; padding:0 20px;}
.pic_list li img{ margin-right:20px; float:left; width: 180px; height: 135px;}
.pic_list span{ display:inline-block; padding:0 15px; color:#555;}
.pic_list span.icoUser{ background:url(../img/ico.png) 0 5px no-repeat;}
.pic_list strong{ display:block; margin-bottom:8px;}
.pic_list span.icoDate{ background:url(../img/ico.png) 0 -24px no-repeat;}
.pic_list a{ font-size:16px; color:#39aaec;}

.rightcon h1{font-size: 21px; color: #269bd7;}
.time{display: block; margin: 10px 0; padding-bottom: 10px; border-bottom: 1px solid #efefef; color: #999;}
.rightcon p{line-height: 20px; font-size: 14px; margin: 10px 0; color: #555;}

